 
**/.directory

 
######################################################
# ignore for python projects 


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/


# Logs:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyCharm
.idea/

# mypy cache
/.mypy_cache/
# pytest
/.pytest_cache/

# Pulp lp and sol files
*pulp.lp
*pulp.sol
/.python-version
/.vscode/settings.json
/docs/_figures_src/*.aux
/docs/_figures_src/factor_graph.pdf
/docs/_figures_src/factor_graph.png
/docs/_figures_src/fg_distribution.pdf
/docs/_figures_src/fg_distribution.png
/tests/unit/progress
/todo.txt
